<div class="w-full h-screen">
  <header class="pt-6 flex gap-2">
     <input type="search" name="" id="" placeholder="Search Artist / Album / Song..."
     class="w-[40rem] border-2 border-[#24243e] text-[#545462] outline-none text-[1.25rem] px-4 py-2 rounded-[15rem]"
     >
     <button class="bg-[#24243e] box-border text-[1.25rem] px-8 capitalize text-white font-bold rounded-[15rem]" title="search">
        <i class="fa-solid fa-magnifying-glass"></i>
     </button>
  </header>
  <section class="suggestions">
   <h1>Perhaps, you would also like:</h1>
   <div id="slide" class="flex py-2">
      <div class="card">
         
      </div>
   </div>   
  </section>
</div>
